<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AboutMe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1779},{200,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{200,45}}</string>
                <key>sourceSize</key>
                <string>{208,51}</string>
            </dict>
            <key>AboutMe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{200,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{200,45}}</string>
                <key>sourceSize</key>
                <string>{208,51}</string>
            </dict>
            <key>BackGround1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>BackGround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>BackGround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>MusicClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1779},{137,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,62}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>MusicOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1779},{139,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,62}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>faild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1284},{684,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,446}}</string>
                <key>sourceSize</key>
                <string>{684,446}</string>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1779},{120,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,78}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>home2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1918},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>inMusic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1920},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>inMusic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1981},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>onPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1779},{224,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{224,68}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>onPlayed.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1779},{224,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{224,66}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>setIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1710},{71,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>setIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1901},{69,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1446},{681,394}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,394}}</string>
                <key>sourceSize</key>
                <string>{685,394}</string>
            </dict>
            <key>tongbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1497},{211,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,74}}</string>
                <key>sourceSize</key>
                <string>{213,74}</string>
            </dict>
            <key>tongbu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1284},{211,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{211,74}}</string>
                <key>sourceSize</key>
                <string>{213,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainSet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f5a77643d3811d066a8f8e11d7bca0$</string>
            <key>textureFileName</key>
            <string>MainSet.png</string>
        </dict>
    </dict>
</plist>
