<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,72},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{69,72},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{60,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{73,1},{60,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsdie.png</string>
            <key>size</key>
            <string>{128,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40617f0072e9975966b46b1089834a44:f24ed22fcca1002d060e06525e866f9f:16e4f866ec1187db6bcb6e6b6797b272$</string>
            <key>textureFileName</key>
            <string>monsdie.png</string>
        </dict>
    </dict>
</plist>
